<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292898318166-2rm3hk8db9cjm9t7v6iojqvlqpvqtsi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292898318166-2rm3hk8db9cjm9t7v6iojqvlqpvqtsi0</string>
	<key>API_KEY</key>
	<string>AIzaSyBaI9cRTZZeT44S6-3ymOKsbUBS-gjf7Es</string>
	<key>GCM_SENDER_ID</key>
	<string>292898318166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookstore</string>
	<key>PROJECT_ID</key>
	<string>bookstore-app-adba9</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-app-adba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292898318166:ios:de55e1d4d8a609536918f7</string>
</dict>
</plist>